.list-films__poster-url-preview {
    position: relative;
}

.list-films__poster-url-preview img {
    width: 120px;
    height: 180px
}



.list-films__rating-on-card {
    background-color: #3bb33b;
    display: inline-block;
    width: 35px;
    position: absolute;
    top: 0;
    left: -15%;
    color: white;
    font-weight: 600;
}

.list-films__rating-vote-count {
    font-weight: 400;
    font-size: 12px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    color: #777;
}

.list-films__film-info {
    width: 300px;
}

.list-films__rating-info {
    width: 300px;

}
.list-films__rating {
    font-weight: 900;
    font-size: 24px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    color: red;
}
.film-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    margin: 10px 0;
    border-radius: 13px;
    width: 80vw;
}

.first-film-item {
    background-color: rgba(255, 17, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    margin: 10px 0;
    border-radius: 13px;
    width: 80vw;
}

.film-item:hover {
    background-color: #f2f2f2;
    border-radius: 13px;
}