.pagination__item {
    width: 50px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.pagination__item:hover {
    background-color: rgba(184, 137, 137, 0.548);
}

.pagination__item_active {
    cursor: pointer;
    background-color: #e4aeae
}

.pagination_wrapper {
    display: flex;
    align-items: center;
}