*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.App {
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
}
 
input{
  position: relative;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width:300px;
    padding: 10px 10px 10px 12px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}
select,input{
  border: 1px solid black;
}
 button{
   padding:5px;
   z-index: 3;
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    padding: 8px 16px;
    font-family: Graphik Kinopoisk LC Web,Tahoma,Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 4%);
    transition: trasnform .2s ease,background-color .2s ease
 }
 button:hover{
 background-color: rgba(0, 0, 0, 0.116);
}
.header{
  background-color: rgb(53, 52, 52);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.header-link{
  margin: 15px;
  color: aliceblue;
 
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
 

}
.header-link:hover{
  color: rgba(240, 248, 255, 0.514);
 

}
.wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
 .search{
   width: 30vw;
   height: 100vh;
   background-color: rgb(148, 89, 89);
 }
 .filmList{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 15px;
   margin: 10px 0;
   border-radius: 13px;
   width: 80vw;
 }
 .bc{
  background-color: rgba(255, 17, 0, 0.089);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin: 10px 0;
  border-radius: 13px;
  width: 80vw;
}
 .filmList:hover{
  background-color: #f2f2f2;
  border-radius: 13px;
}
 .posterUrlPreview{
  position: relative;
   
 }
 .posterUrlPreview img{
  width: 120px;
  height: 180px
   
 }

 .rating{
 
  font-weight: 900;
  font-size: 24px;
  font-family:Tahoma,Arial,Verdana,sans-serif; ;
  color: red;
   
 }
 .ratingOnCard{
   background-color: #3bb33b;
   display: inline-block;
   width:  35px;
  position: absolute;
  top: 0;
  left: -15%;
  color: white;
  font-weight: 600;
 }
 .ratingVoteCount{
 

  font-weight: 400;
  font-size: 12px;
  font-family:Tahoma,Arial,Verdana,sans-serif; ;
  color: #777;;
 }
 .filmInfo{
   width: 300px;
 }
 .ratingInfo{
   width: 300px;
   
 }
 .mainWrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .mainCard{
   width: 80%;
   display: flex;
   justify-content: start;
   align-items: center;
   font-size: 15px;
    line-height: 18px;
   padding: 16px;
   font-weight: 700;
   text-decoration: none;
   color: black;
 }
 .mainCard:hover{
  background-color: #f2f2f2;
  border-radius: 5px;
  
}
 .mainCard img{
  justify-content: start;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 0 15px;
 }

 .InfoAboutFilm{
   width: 100vw;
   height: 100vh;
   background-size: cover;
 }
 .InfoAboutFilmFon{
   display: flex;
   width: 100%;
   height: 100%;
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(15, 15, 15, 0.815) 150%);
 }
 .InfoAboutFilmLeft{
 /* background-color: aqua; */
 flex: 1.5 ;
 height: 100%;
 }
.InfoAboutFilmCenter{
  /* background-color: rgba(247, 247, 247, 0.425); */
  flex: 3 ;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align:start;
}
.InfoAboutFilmCenterNameRu{
  font-family:  Tahoma,Arial,Verdana,sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -.5px;
  color: #fff;
}
.description{
  margin-right: 9px;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: -.2px;
    color: rgba(255,255,255,.6);
}
.InfoAboutFilmCenterShortDescription{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.descriptionValue{
  color: #fff;
}
 .InfoAboutFilmRight{
  flex: 1.5 ;
  /* background-color: rgb(14, 207, 24); */
  height: 100%;
 }
 
 .m5{
   margin: 5px;
   width: 350px;
   
 }
 .paginationItem{
  width: 40px;
  height: 40px;
  background-color: grey;
  margin: 3px;
   
}
.paginationItem_active{
  
  background-color:  #a0a0a0 
 
 
}
 .paginationWrapper{
   display: flex;
 }